@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum:400i&display=swap');

.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #30477df7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.LogoName {
    font-family: 'Cuprum', sans-serif;
    color: white;
    font-size: 32px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}